*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.title{
    text-align: center;
    font-size: 100px;
    color: #604CC3;
}
.container{
    min-height: 500vh;
    background: #FF7F3E;
    padding: 10px;
}

.GWAApp{
    max-width: 1000px;
    background: #FFF6E9;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.taxApp h2{
    color: #604CC3;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.taxApp h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.column{
    display: flex;
  }

.column h2{
    flex: 1; /* Make inputs flexible to fill the container */
    padding-bottom: 8px;
    padding-left: 5px;
    border-radius: 4px;
    font-size: 35px;
    color: #604CC3;
  }

.input-container{
    display: flex;
    gap: 20px; /* Adjust the gap between inputs */
    padding-bottom: 10px;
    
  }
  .input-container input{
    flex: 1; /* Make inputs flexible to fill the container */
    flex-wrap: wrap;
    padding: 8px;
    border: 1px solid #112D4E;
    border-radius: 4px;
    font-size: 35px;
    border-color: #604CC3;
    background-color: #80C4E9;
  }

  .input-container button{
    border: none;
    outline: none;
    padding: 5px 10px;
    background: #604CC3;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
  }




button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #604CC3;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    border-radius: 30px;
}

.buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


.resultTitle{
    color: #604CC3;
    font-size: 35px;
}

.result{
    color: #604CC3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF6E9;
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 35px;
    background-color: #80C4E9;
}

